<audio appZvucnaSignalizacija #tings="zvucnaSignalizacija" loop src="/assets/zvuk/tings.mp3"></audio>
<audio appZvucnaSignalizacija #halfway="zvucnaSignalizacija" src="/assets/zvuk/halfway.mp3"></audio>
<audio appZvucnaSignalizacija #priKraju="zvucnaSignalizacija" src="/assets/zvuk/321.mp3"></audio>
<audio appZvucnaSignalizacija #next="zvucnaSignalizacija"  src="/assets/zvuk/next.mp3"></audio>

<!-- <audio appZvucnaSignalizacija #naslovVjezbe="zvucnaSignalizacija" [src]="'/assets/zvuk/' + zvukSledeceVjezbe"></audio> -->

