/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.css';

.pt-56-px {
    padding-top: 56px;
}

.pt-30-px {
    padding-top: 30px;
}

.ctxt {
    text-align: center;
}

.preostalo {
    font-size: 1.5em;
    text-align: center;
    color: darkred;
    font-weight: bold;
}

.naslov {
    text-align: center;
    color: darkslategray;
}